body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Light gray background */
    color: #333; /* Dark text color */
}

header {
    text-align: center;
    margin-bottom: 2rem;
    background-image: linear-gradient(to bottom, #167198, #444);
    color: #fff;
    padding: 1rem;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px; /* Fixed width for sidebar */
    background-image: linear-gradient(to bottom, #167198, #444); /* Match header gradient */
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: sticky; /* Keeps the sidebar in view when scrolling */
    top: 0;
    height: calc(100vh - 80px); /* Full height minus header */
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: #f9f9f9;
}

.main-content {
    flex-grow: 1; /* Allow main content to fill remaining space */
    padding: 20px;
    margin-left: 20px; /* Keep space for the fixed sidebar */
    box-sizing: border-box;
}

footer {
    background-image: linear-gradient(to bottom, #167198, #444);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
